<div class="books-container">
    <div class="header">
      <h1>Books WorkSwee!</h1>
      <button class="btn-logout" (click)="logout()">Logout</button>
    </div>
    
    <div class="toolbar">
      <button class="btn-add" (click)="OpenPopup({}, true)">Add Books</button>
      <mat-form-field appearance="outline" class="filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search by title or author" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="filter">
        <mat-label>Condition Value</mat-label>
        <input matInput type="number" (input)="conditionvalue($event)" placeholder="Enter mark" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="filter">
        <mat-label>Select Title</mat-label>
        <mat-select (selectionChange)="getSelectedValue($event)">
          <mat-option value="All">All</mat-option>
          <mat-option *ngFor="let item of employee" [value]="item.title">
            {{ item.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Total Books: {{ books }}</mat-label>
    </div>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!-- Columns -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Book Title</th>
        <td mat-cell *matCellDef="let row">{{ row.title }}</td>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let row">{{ row.description }}</td>
      </ng-container>
  
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
        <td mat-cell *matCellDef="let row">{{ row.author }}</td>
      </ng-container>
  
      <ng-container matColumnDef="release_year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Release Year</th>
        <td mat-cell *matCellDef="let row">{{ row.release_year }}</td>
      </ng-container>
  
      <ng-container matColumnDef="download">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PDF</th>
        <td mat-cell *matCellDef="let row">
          <a href="http://localhost:3000/public/{{ row.download }}" target="_blank" *ngIf="row.download">
            View PDF
          </a>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="uploadpdf">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
        <td mat-cell *matCellDef="let row">
          <img
            *ngIf="row.uploadpdf"
            [src]="'http://localhost:3000/public/' + row.uploadpdf"
            class="book-image"
          />
        </td>
      </ng-container>
  
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="primary" (click)="OpenPopup(row, false)">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteBook(row.id)">Delete</button>
        </td>
      </ng-container>
  
      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter </td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of books"></mat-paginator>
  </div>
  